<% if user_signed_in? %>
  <h1 class="text-6xl font-medium leading-7 text-black">Book A Cab</h1>
  <h2 class="mt-6 text-2xl font-light leading-2 text-black">Effortlessly book your cabs</h2>
<% else %>
  <h2 class = "text-2xl font-bold text-gray-500 mb-8" >Please Login or Sign up to continue.</h2>
  <p><button class = "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none rounded-lg text-sm font-medium px-5 py-2.5 me-2 mb-2 ml-2"> <%= link_to "Login", new_user_session_path %> </button>
  <button class = "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none rounded-lg text-sm font-medium px-5 py-2.5 me-2 mb-2 ml-2"><%= link_to "Sign Up", new_user_registration_path %> </button></p>
<% end %>
