<div class="bg-white shadow-md rounded-lg p-6 m-4 max-w-sm">
  <h2 class="text-lg font-semibold text-gray-800">Model: <%= cab.model %></h2>
  <p class="text-gray-600">
    <span class = "font-bold">Category: </span>
    <span class="font-medium"><%= cab.category %></span></p>
  <p class="text-gray-600">
    <span class = "font-bold">Vehicle No.: </span>
    <span class="font-medium"><%= cab.vehicle_number %></span></p>
  <p class="text-gray-600">
    <span class = "font-bold">Current Location.: </span>
    <span class="font-medium"><%= cab.location.name %></span></p>
</div>
